@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;1,300&display=swap");
:root {
  --white: #fff;
  --lightpurple: #4c5fd5;
  --black: #000000;
  --lightblue: #dadbf1;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  text-decoration: none;
}
/* begin header */
.header {
  background-color: var(--black);
  color: var(--white);

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;

  width: 100%;
  height: 3.5rem;
}
.contents {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0.5rem 0;
  display: flex;
  justify-content: space-between;
}
.logo_content {
  font-weight: 500;
  font-size: 1.2rem;
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo_content img {
  width: 10rem;
  height: 2rem;
  margin-right: 5px;
}

.btn-1 {
  padding: 0.5rem 2rem;
  background: transparent;
  color: var(--white);
  font-size: 1rem;

  border: 1px solid var(--white);
  border-radius: 4px;
  margin-right: 5px;
}
.btn-2 {
  padding: 0.6rem 2rem;
  background: var(--lightpurple);
  color: var(--white);
  font-size: 1rem;

  border: none;
  border-radius: 4px;
  margin-right: 5px;
}
.menu {
  display: none;
}
/* end header */

/* begin hero */
.hero_section {
  width: 100%;
  height: 80vh;

  background: var(--lightblue);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero_section h1 {
  font-size: 4rem;
  margin-bottom: 2rem;
}

.hero_input-content {
  background-color: red;
  width: 60%;
  position: relative;
}
.hero_input {
  font-size: 28px;
  position: absolute;
  left: 0;
  margin: 8px 0;
  padding: 0 0 0 6px;
  border: 1px solid #9b9a9a;
  border-radius: 5px;
  width: 95%;

  height: 40px;
  color: var(--black);
}

.hero_section svg {
  position: absolute;
  right: 50px;
  color: var(--lightpurple);
  font-size: 2rem;
  top: 14px;
  width: 30px;
}
/* end hero */

/* begin main */
.main_section {
  padding: 0 50px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.main_container {
  display: flex;
  margin: 5rem 2rem;
  height: 8rem;
}
.main_container img {
  margin-right: 15px;
  padding: 10px;
}
.main_content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main_content a {
  color: var(--lightpurple);
  transition: transform 0.3s;
}
.main_content a:hover {
  cursor: pointer;
  transform: translateX(5px);
}
/* end main */

/* begin footer */
.footer {
  padding: 2rem 50px;
  background-color: var(--black);
  color: var(--white);
}
.row {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.col h3 {
  font-size: 1.375rem;
  padding-bottom: 0.625rem;
}

.col li {
  list-style: none;
  padding-left: 0;
}
.col ul li p {
  margin-top: 2rem;
  font-weight: bold;
}
.col ul li a {
  color: white;
}
.col:last-child {
  margin-top: 10rem;
}
/* end footer */

/* media query goes here */
@media (max-width: 1320px) {
  .header {
    padding: 0 50px;
  }
  .hero_section h1 {
    font-size: 3.5rem;
  }
  .hero_input-content {
    width: 70%;
  }
}
@media screen and (max-width: 950px) {
  .main_section {
    grid-template-columns: 1fr;
  }
  .col:last-child {
    margin: 0;
  }
}
@media (max-width: 720px) {
  .header {
    padding: 0 30px;
  }
  .hero_section h1 {
    font-size: 2.5rem;
  }
  .hero_input-content svg {
    display: none;
  }
  .hero_input-content {
    width: 70%;
  }
  .btn-1,
  .btn-2 {
    display: none;
  }
}
@media screen and (max-width: 400px) {
  .hero_section h1 {
    font-size: 2rem;
  }
  .hero_input-content svg {
    display: none;
  }
  .hero_input-content {
    width: 70%;
  }
}
